[submodule "modules/PX4Firmware"]
	path = modules/PX4Firmware
	url = git@github.com:nocternal/PX4Firmware.git
[submodule "modules/PX4NuttX"]
	path = modules/PX4NuttX
	url = git@github.com:nocternal/PX4NuttX.git
[submodule "modules/uavcan"]
	path = modules/uavcan
	url = git@github.com:nocternal/uavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = git@github.com:nocternal/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = git@github.com:nocternal/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git@github.com:nocternal/mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = git@github.com:nocternal/googletest.git
